html,
body {
  min-height: 100%;
}

body {
  background-image: linear-gradient(0deg, #1ad33a, #a7c2fe);
  font-size: 20px;
  margin: 0 40px;
}

p {
  text-align: justify;
}

#logomarca {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.curiosidade {
  background-image: url("imgs/favo-de-mel.png");
  border: 1px solid #f29e0e;
  border-radius: 5px;
  padding: 15px;
  clear: both;
}

.curiosidade img {
  float: left;
  margin-right: 20px;
}

.casta-de-abelha {
  border-radius: 50%;
  border: 5px double #f29e0e;
  margin-bottom: 5px;
}

.esquerda {
  float: left;
  margin-right: 20px;
  shape-outside: circle(50%);
}

.direita {
  float: right;
  margin-left: 20px;
  shape-outside: circle(50%);
}

#topo-da-pagina {
  background-color: #ffffff40;
  box-shadow: 4px 4px 4px #0003;
  padding: 30px;
}

a:visited {
  color: purple;
  text-decoration: none;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:active {
  color: white;
  text-decoration: none;
}

a[href^="http"] {
  background-color: #fdbefdc2;
}

p:last-of-type {
  text-align: right;
}

img:not([alt]) {
  border: 5px solid red;
}
